<ul>
	<% if flash[:message] != nil%>
	   <div style="color: red;font-size:large">
			<%= flash[:message] %>
		</div>
	<% end %>
 </ul>

<%= form_tag "/advanced_search_results", {html: {class: 'ui form'}} do %>
	<div class="ui form">
		<div class="six wide field">
		  	<ul>
		  		<div class="field">
					<p><%= label_tag :state %>
					<%= text_field_tag :state %>
					</p>
				</div>
		   </ul>
			<ul>
		  	    <div class="field">
				    <p>SAT Score <%= text_field_tag :sat_score %>
				    </p>
		    	</div>
		  	</ul>
			<ul>
				<div class="field">
				  <p>ACT Score <%= text_field_tag :act_avg %>
				  </p>
			  	</div>
			</ul>
			<ul>
				<div class="field">
					<p>Field of Study <%= collection_select :program, :program_id, Program.all, :id, :name%>
			   		</p>
					<p> <%= submit_tag "Submit Search", class: 'large ui blue basic button' %>
					</p>
				</div>
			</ul>
	  	</div>
	</div>
<% end %> 

 
 

