<p>Name: <%= @college.name %> </p>
<p>State: <%= @college.state %></p>
<p>Average SAT Score: <%= @college.sat_score %></p>
<p>Average ACT Score: <%= @college.act_avg %></p>
<p>Tuition: <%= @college.cost %></p>


<p> Programs Offered: </p>
<ul>

<% @college.programs.each do |p| %>

<li> <%= p.name %> </li>

<% end %>

</ul>
