<!DOCTYPE html>
<html>

<!-- Open Head -->
  <head>
    <meta charset="utf-8">
    <title>College Finder</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <style type="text/css">
      div.index-body{
        max-width: 1000px;
        margin:0 auto;
      }
      div.secondary h3 {
        font-weight:normal;
        font-color:#000;
        text-transform: uppercase;
        letter-spacing:2px;
        font-size:12px;
      }
      div.index-body p {
        color: #464646;
        text-align: center;
        font-size:1.3em;
        margin-top:1em;
        line-height: 1.2em;
        font-weight:bold;
      }
      div.index-body ul{
        padding:0;
        margin:0;
      }
      div.index-body li{
        list-style: none;
        float:left;
        width:300px;
        height:100px;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        padding:10px;
        margin:10px;
        vertical-align: middle;
        text-align: center;
        font-size:16px;
        color:#464646;
      }
      
      div.homepageHero{
        width:100%;
        height:400px;
        background-image: url('https://images.pexels.com/photos/509780/pexels-photo-509780.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
        background-position: center;
      }
      #heroOverlay{
        width:100%;
        height:400px;
        background-color:black;
        opacity: .3;
      }
      div.homepageHero h1{
          text-align: center;
          position: relative;
          top:-65%;
          font-size:3em;
          color:white;
      }

      

    </style>
  </head>
  <!-- Close Head -->

  <!--Open Body  -->
  <body style="display:flex;min-height:100vh;flex-direction: column;'">
    <!-- Open Header -->
    <div style="flex:1;">
      <div class="ui header">
        <div class="ui blue menu">        
          <div class="item">
            <a href="/"><h1>College Finder</h1></a>
          </div>
          <div class="right item">
            <div class= "four wide item">
              <a href="/users/new"><h4>Sign Up!</h4></a>
            </div>
            <% if logged_in? %>
              <div class="right item">
                <a href="<%=user_path(current_user)%>"><h4>Your Profile</h4></a>
               </div>
              <div class="right item">
                <h4><%= link_to 'Logout', logout_path, method: 'delete' %></h4>
              </div>
            <% else %> 
              <div class="right item">
                <a href="/signin"><h4>Sign In</h4></a>
              </div>
            <% end %>
          </div>
        </div>
    <!-- Close Header -->
    
    <!-- Open secondary menu -->
    <div class="ui secondary menu">
      <div class="container" style="margin-left: auto; margin-right: auto;">
      <div class="item">
        <a href="/"><h3>Home</h3></a>
      </div>  
      <div class="item">
        <a href="/colleges"><h3>Colleges</h3></a>
        </div>
      <div class="item"> 
        <a href="/programs"><h3>Programs</h3></a>
      </div>
      <div class="item"> 
        <a href="/advanced_search"><h3>Advanced Search</h3></a>
        </div>
     
       

      <div class="ui search">
      <div class="right item"
          <%= form_tag("/name_search", method: "get") do %>
            <div class="ui icon input">
              <%= text_field_tag :name, nil, placeholder:'Enter College here...' %>
              <i class="search link icon" type="submit"></i>
            </div>
          <% end %> 
          </div>
      </div>

       </div>
    </div>

    

    </div>
    <!-- Close Secondary menu -->
    
 <%= yield %>
   
   </div>

   <!-- Open Footer -->
    <div class="ui vertical footer segment form-page", style="background-color: #F5F8F2;bottom: 0; min-height: 15%;text-align: center">
      <div class="ui container" style="font-size:1em; color:grey;">
        <p>College Finder Inc. | By Stacey Astoveza and Luke Glayat | Flatiron School 2017</p>
      </div>
    </div>
    <!-- Close Footer -->
    
  </body>
</html>