<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>College Finder</title>
  <!--   <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/site.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script> -->
  </head>

<!-- Open Header -->
<div class="ui header">
   <div class="ui blue menu">
    <div class="item">
          <a href="/"><h1>College Finder</h1></a>
      </div>

         <div class="right item">
          <div class= "four wide item">
          <a href="/users/new"><h4>Sign Up!</h4></a>
      </div>
        



      <% if logged_in? %>
        <div class="right item">
          <a href="/users/:id"><h4>Your Profile</h4></a>
      </div>
        <div class="right item">
          <a href="/logout"><h4>Log Out</h4></a>
      </div>
      </div>

    </div>
    <!--   <% else %> -->

       <!--  <div class="right item"
          <a href="/signin"><h4>Sign In</h4></a>
        </div>
       -->


<!-- 
         <%= link_to 'Logout', logout_path, class: 'item', method: 'delete' %>
            <%= link_to "Your Profile", user_path(current_user) %> -->
       <!--  <%  %>
         <p><%= link_to "Sign In", '/signin' %></p>
         <% end %>   -->





  <div class="ui secondary menu">
        <div class="item">
          <a href="/"><h3>Home</h3></a>
      </div>


        <div class="item">
          <a href="/colleges"><h3>Colleges</h3></a>
      </div>
     
  <div class="ui container">
   <div class="right menu">
    <div class="ui search">
      <input class="prompt" type="text" placeholder="Search...">
      <div class="results"></div>
      </div>

      </div>
        </div>
        </div>

     </div>
    
   
       

     <!--    <div class="right menu">
        <div class="item">
        <%= link_to "Sign Up", new_user_path %>
        </div>
        </div>  --> 
     
    
          
       

 <!--  <form action="/name_search" method="GET">
    <div class="ui icon input">
    <input type="text" placeholder="Search...">
    <input type="submit">
        <i class="search link icon" type="submit"></i> -->
  
  <!--    <%= form_tag("/name_search", method: "get") do %>
    # <%= label_tag(:name, "Search by Name") %>
    # <%= text_field_tag(:name) %>
    # <%= submit_tag("Search") %>  -->
   <!--   <% end  %> -->
     <!--  </div> -->
  <!--   </div> -->
<!-- </div> -->
 <%= yield %>

    <body>
<!-- Nav Links -->
    <%= link_to "See All Programs", programs_path %>
    <!-- Put Advance Search Filter -->
  </body>
</html>